---
interface Project {
    name: string;
    description: string;
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'France Travail',
    description: 'Création dun Database as a Service pour accélérer linnovation interne. 159 BDD Redis et PostgreSQL',
    link: {
        url: 'https://france-travail.fr/',
    }
}, {
    name: 'e-santé Occitanie',
    description: 'Refonte complète de la plateforme pour une expérience utilisateur plus fluide et plus intelligente. +60% des conversion',
    link: {
        url: 'https://www.esante-occitanie.fr/'
    }
}, {
    name: 'FrenchFab',
    description: 'Conçu et lancer le site phare de la fierté industrielle française. +5 000 visiteurs mensuels',
    link: {
        url: 'https://lafrench-fab.com/'
    }
}, {
    name: 'ESIEA',
    description: 'Refonte du site de l école pour attirer les futurs talents et mettre en valeur l excellence technologique. +45% des conversion',
    link: {
        url: 'https://www.esiea.fr/'
    }
}, {
    name: 'HarfangLab',
    description: 'Créer un blog qui s adresse aux professionnels de la cybersécurité +3 000 visiteurs mensuels',
    link: {
        url: 'https://harfanglab.io/insidethelab/'
    }
}, {
    name: 'RFI',
    description: 'Developper le site Web de vente d annonces, en équilibrant les objectifs commerciaux et l identité éditoriale.',
    link: {
        url: 'https://www.rfiadvertising.com/'
    }
}
];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {projects.map(project =>

            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400">
                    {project.description}
                </p>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-4 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'Découvrir'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
